@charset "utf-8";
/* SIR 지운아빠 */

/* ### 기본 스타일 커스터마이징 시작 ### */

/* 게시판 버튼 */
/* 목록 버튼 */
#bo_list a.btn_b01 {}
#bo_list a.btn_b01:focus, #bo_list a.btn_b01:hover {}
#bo_list a.btn_b02 {}
#bo_list a.btn_b02:focus, #bo_list a.btn_b02:hover {}
#bo_list a.btn_admin {} /* 관리자 전용 버튼 */
#bo_list a.btn_admin:focus, #bo_list .btn_admin:hover {}

/* 읽기 버튼 */
#bo_v a.btn_b01 {}
#bo_v a.btn_b01:focus, #bo_v a.btn_b01:hover {}
#bo_v a.btn_b02 {}
#bo_v a.btn_b02:focus, #bo_v a.btn_b02:hover {}
#bo_v a.btn_admin {} /* 관리자 전용 버튼 */
#bo_v a.btn_admin:focus, #bo_v a.btn_admin:hover {}

/* 쓰기 버튼 */
#bo_w .btn_confirm {} /* 서식단계 진행 */
#bo_w .btn_submit {}
#bo_w button.btn_submit {}
#bo_w fieldset .btn_submit {}
#bo_w .btn_cancel {}
#bo_w button.btn_cancel {}
#bo_w .btn_cancel:focus, #bo_w .btn_cancel:hover {}
#bo_w a.btn_frmline, #bo_w button.btn_frmline {} /* 우편번호검색버튼 등 */
#bo_w button.btn_frmline {}

/* 기본 테이블 */
/* 목록 테이블 */
#bo_list .tbl_head01 {}
#bo_list .tbl_head01 caption {}
#bo_list .tbl_head01 thead th {}
#bo_list .tbl_head01 thead a {}
#bo_list .tbl_head01 thead th input {} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
#bo_list .tbl_head01 tfoot th {}
#bo_list .tbl_head01 tfoot td {}
#bo_list .tbl_head01 tbody th {}
#bo_list .tbl_head01 td {}
#bo_list .tbl_head01 a {}
#bo_list td.empty_table {}

/* 읽기 내 테이블 */
#bo_v .tbl_head01 {}
#bo_v .tbl_head01 caption {}
#bo_v .tbl_head01 thead th {}
#bo_v .tbl_head01 thead a {}
#bo_v .tbl_head01 thead th input {} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
#bo_v .tbl_head01 tfoot th {}
#bo_v .tbl_head01 tfoot td {}
#bo_v .tbl_head01 tbody th {}
#bo_v .tbl_head01 td {}
#bo_v .tbl_head01 a {}
#bo_v td.empty_table {}

/* 쓰기 테이블 */
#bo_w table {}
#bo_w caption {}
#bo_w .frm_info {}
#bo_w .frm_address {}
#bo_w .frm_file {}

#bo_w .tbl_frm01 {}
#bo_w .tbl_frm01 th {}
#bo_w .tbl_frm01 td {}
#bo_w .tbl_frm01 textarea, #bo_w tbl_frm01 .frm_input {}
#bo_w .tbl_frm01 textarea {}
/*
#bo_w .tbl_frm01 #captcha {}
#bo_w .tbl_frm01 #captcha input {}
*/
#bo_w .tbl_frm01 a {}

/* 필수입력 */
#bo_w .required, #bo_w textarea.required {}

#bo_w .cke_sc {}
#bo_w button.btn_cke_sc{}
#bo_w .cke_sc_def {}
#bo_w .cke_sc_def dl {}
#bo_w .cke_sc_def dl:after {}
#bo_w .cke_sc_def dt, #bo_w .cke_sc_def dd {}
#bo_w .cke_sc_def dt {}
#bo_w .cke_sc_def dd {}

/* ### 기본 스타일 커스터마이징 끝 ### */

/* 게시판 목록 */
#bo_list .td_board {width:120px;text-align:center}
#bo_list .td_chk {width:30px;text-align:center}
#bo_list .td_date {width:60px;text-align:center}
#bo_list .td_datetime {width:110px;text-align:center}
#bo_list .td_group {width:100px;text-align:center}
#bo_list .td_mb_id {width:100px;text-align:center}
#bo_list .td_mng {width:80px;text-align:center}
#bo_list .td_name {width:100px;text-align:left}
#bo_list .td_nick {width:100px;text-align:center}
#bo_list .td_num {width:50px;text-align:center}
#bo_list .td_numbig {width:80px;text-align:center}

#bo_list .txt_active {color:#5d910b}
#bo_list .txt_expired {color:#ccc}

#bo_cate h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_cate ul {margin-bottom:10px;padding-left:1px;zoom:1}
#bo_cate ul:after {display:block;visibility:hidden;clear:both;content:""}
#bo_cate li {float:left;margin-bottom:-1px}
#bo_cate a {display:block;position:relative;margin-left:-1px;padding:6px 0 5px;width:90px;border:1px solid #ddd;background:#f7f7f7;color:#888;text-align:center;letter-spacing:-0.1em;line-height:1.2em;cursor:pointer}
#bo_cate a:focus, #bo_cate a:hover, #bo_cate a:active {text-decoration:none}
#bo_cate #bo_cate_on {z-index:2;border:1px solid #565e60;background:#fff;color:#565e60;font-weight:bold}

.td_subject img {margin-left:3px}

/* 게시판 목록 공통 */
.bo_fx {margin-bottom:5px;zoom:1}
.bo_fx:after {display:block;visibility:hidden;clear:both;content:""}
.bo_fx ul {margin:0;padding:0;list-style:none}
#bo_list_total {float:left;padding-top:5px}
.btn_bo_user {float:right;margin:0;padding:0;list-style:none}
.btn_bo_user li {float:left;margin-left:5px}
.btn_bo_adm {float:left}
.btn_bo_adm li {float:left;margin-right:5px}
.btn_bo_adm input {padding:8px;border:0;background:#e8180c;color:#fff;text-decoration:none;vertical-align:middle}
.bo_notice td {background:#f5f6fa}
/* .bo_notice td a {font-weight:bold} */
/* 공지사항 스타일 글자 굵기 보통으로 */
/*.bo_notice td>a {font-weight:normal}*/


.td_num strong {color:#000}
.bo_cate_link {display:inline-block;margin:0 3px 0 0;padding:0 6px 0 0;border-right:1px solid #e7f1ed;color:#999 !important;font-weight:bold;text-decoration:none} /* 글제목줄 분류스타일 */
.bo_current {color:#e8180c}
#bo_list .cnt_cmt {display:inline-block;margin:0 0 0 3px;font-weight:bold}

#bo_sch {margin-bottom:10px;padding-top:5px;text-align:center}
#bo_sch legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}



#container_title {
  font-size: 30px;
}

#bo_cate a:focus, #bo_cate a:hover, #bo_cate a:active {
  color: #f00;
}

/* 관리자 -> 게시판 관리 -> 게시판 디자인/양식 -> 스킨 디렉토리를 (테마) basic 으로 설정 */
#bo_sch legend {
  border-bottom: 0px;
}
#bo_sch .btn_submit {
	padding: 10px;
	height: auto;
}




/* 게시판 쓰기 */
#char_count_desc {display:block;margin:0 0 5px;padding:0}
#char_count_wrap {margin:5px 0 0;text-align:right}
#char_count {font-weight:bold}

#autosave_wrapper {position:relative}
#autosave_pop {display:none;z-index:10;position:absolute;top:24px;right:117px;padding:8px;width:350px;height:auto !important;height:180px;max-height:180px;border:1px solid #565656;background:#fff;overflow-y:scroll}
html.no-overflowscrolling #autosave_pop {height:auto;max-height:10000px !important} /* overflow 미지원 기기 대응 */
#autosave_pop strong {position:absolute;font-size:0;line-height:0;overflow:hidden}
#autosave_pop div {text-align:right}
#autosave_pop button {margin:0;padding:0;border:0;background:transparent}
#autosave_pop ul {margin:10px 0;padding:0;border-top:1px solid #e9e9e9;list-style:none}
#autosave_pop li {padding:8px 5px;border-bottom:1px solid #e9e9e9;zoom:1}
#autosave_pop li:after {display:block;visibility:hidden;clear:both;content:""}
#autosave_pop a {display:block;float:left}
#autosave_pop span {display:block;float:right}
.autosave_close {cursor:pointer}
.autosave_content {display:none}

/* 게시판 읽기 */
#bo_v {margin-bottom:20px;padding-bottom:20px}

/* #bo_v_table {position:absolute;top:0;right:16px;margin:0;padding:0 5px;height:25px;background:#ff3061;color:#fff;font-weight:bold;line-height:2.2em} */

#bo_v_table a {
	/*background-color: #e5e5e5;*/
	color: #000;
	/*padding: 7px;*/
	font-size: 1.5rem; /*23px;*/ /*30px;*/
	font-weight: bold;
	/*border: 1px solid #000;*/
}
#bo_v_table a:focus, #bo_v_table a:hover, #bo_v_table a:active {
	color: #f00;
	text-decoration: underline;
}





/* 게시물 보기 CSS(view.skin.php) 새로 추가 */

#bo_v_title {
  font-size: 1.6rem;
  font-weight: bold; /* h1인데 안굵어서 재지정 */
  /*background-color: #eee;*/
  /*background: linear-gradient(#fff, #f1f2f4);*/
  /*margin-top: 0px;*/
  /*padding: 5px;*/
  /*border-bottom: 1px solid #d5d5d5;*/
  /*margin-top: 15px;*/
  /*margin-bottom: 15px;*/
}

#bo_v_info {
  margin: 0px;
  padding: 0px;
}

#bo_v_file, #bo_v_link {
  margin: 0px;
  padding: 0px;
}

/* 컨텐츠 위 여백 */
#bo_v_atc {
  margin: 1rem 0px 0px 0px;
  padding: 0px;
}




#bo_v_info h2,
#bo_v_file h2,
#bo_v_link h2,
#bo_v_atc_title {
  position: absolute;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}

/* 익스플로러는 전체 선택자(*)를 줘야 줄바꿈이 먹힌다. 버그인듯. */
#bo_v_file a, #bo_v_link * {
  word-wrap: break-word;

  /*padding: 3px;
  display: inline-block;*/
}
/*.bo_v_file_cnt {display:inline-block;}
.bo_v_link_cnt {display:inline-block;}*/


#bo_v_file a:link, #bo_v_file a:visited,
#bo_v_link a:link, #bo_v_link a:visited,
#bo_v_info a:link, #bo_v_info a:visited {
  color: #00f;
}
#bo_v_file a:hover, #bo_v_file a:active,
#bo_v_link a:hover, #bo_v_link a:active,
#bo_v_info a:hover, #bo_v_info a:active {
  color: #f00;
}



#bo_v_file ul, #bo_v_link ul {
  margin:0;
  padding:0;
  list-style:none;
}



/* 버튼에 호버시 색깔 */
#bo_v_top a.btn_b01:hover,
#bo_v_top a.btn_b02:hover,
#bo_v_bot a.btn_b01:hover,
#bo_v_bot a.btn_b02:hover {
  color: #f00;
}
#bo_v_top a.btn_admin:hover,
#bo_v_bot a.btn_admin:hover {
  color: #fff;
}

#bo_v_top {
  margin-top: 10px;
  margin-bottom: 10px;
}

#bo_v_top ul, #bo_v_bot ul {
  margin:0;
  padding:0;
  list-style:none;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

#bo_v_top li, #bo_v_bot li {
  margin-right: 5px;
}

#bo_v_top li:last-child, #bo_v_bot li:last-child {
  margin-right: 0px;
}


#bo_v_info ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

#bo_v_info li {
  margin-right: 15px;
}
#bo_v_info li:last-child {
  margin-right: 0px;
}





/*
#bo_v_title {padding:10px 0;font-size:1.2em}

#bo_v_info {padding:0 0 10px;border-bottom:1px solid #ddd}
#bo_v_info h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_v_info strong {display:inline-block;margin:0 15px 0 5px;font-weight:normal}
#bo_v_info .sv_member,
#bo_v_info .sv_guest,
#bo_v_info .member,
#bo_v_info .guest {font-weight:bold}

#bo_v_file {}
#bo_v_file h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_v_file ul {margin:0;padding:0;list-style:none}
#bo_v_file li {padding:0 10px;border-bottom:1px solid #eee;background:#f5f6fa}
#bo_v_file a {display:inline-block;padding:8px 0 7px;width:100%;color:#000;word-wrap:break-word}
#bo_v_file a:focus, #bo_v_file a:hover, #bo_v_file a:active {text-decoration:none}
#bo_v_file img {float:left;margin:0 10px 0 0}
.bo_v_file_cnt {display:inline-block;margin:0 0 3px 16px}

#bo_v_link {}
#bo_v_link h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_v_link ul {margin:0;padding:0;list-style:none}
#bo_v_link li {padding:0 10px;border-bottom:1px solid #eee;background:#f5f6fa}
#bo_v_link a {display:inline-block;padding:8px 0 7px;width:100%;color:#000;word-wrap:break-word}
#bo_v_link a:focus, #bo_v_link a:hover, #bo_v_link a:active {text-decoration:none}
.bo_v_link_cnt {display:inline-block;margin:0 0 3px 16px}

#bo_v_top {margin:0 0 10px;padding:10px 0;zoom:1}
#bo_v_top:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_top h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_v_top ul {margin:0;padding:0;list-style:none}

#bo_v_bot {zoom:1}
#bo_v_bot:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_bot h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_v_bot ul {margin:0;padding:0;list-style:none}

.bo_v_nb {float:left}
.bo_v_nb li {float:left;margin-right:5px}
.bo_v_com {float:right}
.bo_v_com li {float:left;margin-left:5px}

#bo_v_atc {min-height:200px;height:auto !important;height:200px}
#bo_v_atc_title {position:absolute;font-size:0;line-height:0;overflow:hidden}

#bo_v_img {margin:0 0 10px;width:100%;overflow:hidden;zoom:1}
#bo_v_img:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_img img {margin-bottom:20px;max-width:100%;height:auto}

#bo_v_con {margin-bottom:30px;width:100%;line-height:1.7em;word-break:break-all;overflow:hidden}
#bo_v_con a {color:#000;text-decoration:underline}
#bo_v_con img {max-width:100%;height:auto}

#bo_v_act {margin-bottom:30px;text-align:center}
#bo_v_act .bo_v_act_gng {position:relative}
#bo_v_act a {margin-right:5px;vertical-align:middle}
#bo_v_act strong {color:#ff3061}
#bo_v_act_good, #bo_v_act_nogood {display:none;position:absolute;top:30px;left:0;padding:10px 0;width:165px;background:#ff3061;color:#fff;text-align:center}

#bo_v_sns {margin:0 0 20px;padding:0;list-style:none;zoom:1}
#bo_v_sns:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_sns li {float:left;margin:0 5px 0 0}
*/


/* 게시판 댓글 */
#bo_vc {margin:0 0 20px;padding:0px;/*20px 20px 10px;*//*border:1px solid #e5e8ec;*//*background:#f5f8f9*/}
#bo_vc h2 {margin-bottom:10px}
#bo_vc article {padding:0 0 10px;border-top:1px dotted #ccc}
#bo_vc header {position:relative;padding:15px 0 5px}
#bo_vc header .icon_reply {position:absolute;top:15px;left:-20px}
#bo_vc .sv_wrap {margin-right:15px}
#bo_vc .member, #bo_vc .guest, #bo_vc .sv_member, #bo_vc .sv_guest {font-weight:bold}
.bo_vc_hdinfo {display:inline-block;margin:0 15px 0 5px}
#bo_vc h1 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_vc a {color:#000;text-decoration:none}
#bo_vc p {padding:0 0 5px;line-height:1.8em}
#bo_vc p a {text-decoration:underline}
#bo_vc p a.s_cmt {text-decoration:none}
#bo_vc_empty {margin:0;padding:20px !important;text-align:center}
#bo_vc #bo_vc_winfo {float:left}
#bo_vc footer {zoom:1}
#bo_vc footer:after {display:block;visibility:hidden;clear:both;content:""}

.bo_vc_act {float:right;margin:0;list-style:none;zoom:1}
.bo_vc_act:after {display:block;visibility:hidden;clear:both;content:""}
.bo_vc_act li {float:left;margin-left:5px}

#bo_vc_w {position:relative;margin:0 0 10px;padding:0 0 20px;border-bottom:1px solid #cfded8}
#bo_vc_w h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_vc_w #char_cnt {display:block;margin:0 0 5px}

#bo_vc_sns {margin:0;padding:0;list-style:none;zoom:1}
#bo_vc_sns:after {display:block;visibility:hidden;clear:both;content:""}
#bo_vc_sns li {float:left;margin:0 20px 0 0}
#bo_vc_sns input {margin:0 0 0 5px}







/* write.skin.php 스타일 */

/* 관리자 모드에서 파일 업로드 개수를 0으로 설정할 것 */

/* 모바일 */



/* 제목 */
#bo_w #wr_subject {
  border: 1px solid #000;
  width: 100%;
}
/* 내용 */
#bo_w textarea {
  border: 1px solid #000;
  width: 100%;
}
/* 링크#1, 링크#2 */
#bo_w #wr_link1, #bo_w #wr_link2 {
  border: 1px solid #000;
  width: 100%;
}

/* 태블릿, 데스크탑(PC) */

@media (min-width: 768px) {

/* 제목 */
#bo_w #wr_subject, #bo_w #wr_link1, #bo_w #wr_link2 {
  width: 450px;
}

}


/* 글쓰기, 글수정 내용 영역에서 줄높이가 높아서 줄임 */
#bo_w .tbl_frm01 textarea {
  line-height: 1.4em;
}
/* 댓글 내용도 마찬가지 */
#wr_content {
  line-height: 1.4em;
}

/* 유튜브 동영상 창 작을시 자동으로 크기 조절 */
#bo_v_con iframe {
  max-width:100%;
  /*height:auto;*/
}


/* 본문 링크색 설정*/
#bo_v_con a:link, #bo_v_con a:visited {
  color: #3a3afd; /* 00f; */
  text-decoration: underline;
}
#bo_v_con a:hover, #bo_v_con a:active {
  color: #f00;
  text-decoration: underline;
}



/* 게시물 목록에 마우스를 올리면 배경색 변경됨 */
#bo_list .tbl_head01 tbody tr:hover {
  background-color: #f2f2f2;
}



/* 게시판 글쓰기(write.skin.php) */

#bo_w {
  /*padding: 0px;*/ /* 좌우 여백 제거 */
}

.board-write {
  margin: 0px;
  padding: 0px; /* 좌우 여백 제거 */
  width: 100%;
  display: block;
}

.board-write .board-write-input,
.board-write .board-write-input-sml,
.board-write .board-write-input-mdl {
  padding: 3px;
  border: 1px solid #000;
  width: 100%; /* 100%; */ /* 아이디, 비번 입력창 너비 재설정 */
  height: 34px;
  margin-bottom: 5px;
}






/* 임시 저장된 글 */
#autosave_pop {
  top:63px;
  left:0px;
  width:300px; /* 모바일에서 삐져나옴. 크기 조정. */
}

#btn_autosave {
  margin-bottom: 5px;
}

.board-write .opt-input textarea {
  border: 1px solid #000;
  margin-bottom: 5px;
  padding: 3px;
}

.board-write .opt-input select {
  border: 1px solid #000;
}

.board-write-required {
  color: #f00;
}


.board-write-submit {
  text-align: center;
  margin-top: 10px;
}

.board-write-submit .board-write-submit-btn {
  padding: 10px 30px;
  height: auto;
  border: 0;
  font-weight: bold;
  background-color: #ff3061;
  color: #fff;
  cursor: pointer;
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

.board-write .board-write-row {
  display: flex;
  /*border: 1px solid #000;*/
  width: 100%;
}

.board-write .item {
  /*border: 1px solid #000;*/
}

.board-write .opt-name {
  /*margin-right: 10px;*/
  flex: 120px 0;
  font-weight: bold;
}

.board-write .opt-input {
  flex: 1;
}


.board-write .board-write-input-sml {
  width: 190px; /* 40%; */ /* 아이디, 비번 입력창 너비 재설정 */
}

.board-write .board-write-input-mdl {
  width: 300px; /* 40%; */ /* 아이디, 비번 입력창 너비 재설정 */
}


}


/* 코멘트 페이지 (view_comment.skin.php) */

/* 아웃로그인 스킨1 참고 */
/* 익스플로러(IE11)에서 입력창(input) 에 글자 입력시 위로 왔다갔다 현상 해결 */
/* input 값을 지정해줘야 되는듯 */
/* 그누보드5 CSS와 브라우저 CSS가 충돌해서 그런듯 */
#wr_name, #wr_password {
  padding: 3px;
  border: 1px solid #000;
  width: 150px; /* 아이디, 비번 입력창 너비 재설정 */
  height: 34px;
  margin-bottom: 5px;
}

.tbl_frm01 textarea {
  width: 100%;
  border: 1px solid #000;
  padding: 3px;
  background-color: #fff;
}


#bo_vc article header a:hover {
  color: #f00;
}

#bo_vc article footer a:hover {
  color: #f00;
}




/* 목록(list.skin.php) 스타일 */

/* Medium devices (tablets, 768px and up) */
@media (max-width: 767px) {

#bo_list .cell_hidden {
  display: none;
}


#bo_list .td_subject a:link, #bo_list .td_subject a:visited {
  color: #00f; /* 00f; */
  text-decoration: none;
}
#bo_list .td_subject a:hover, #bo_list .td_subject a:active {
  color: #f00;
  text-decoration: none;
}

#bo_list .td_name a:link, #bo_list .td_name a:visited {
  color: #000; /* 00f; */
  text-decoration: none;
}
#bo_list .td_name a:hover, #bo_list .td_name a:active {
  color: #f00;
  text-decoration: none;
}


/* 카테고리(분류) 스타일 */
#bo_list .bo_cate_link {
  /*color: #000;*/
  /*font-size: 0.9rem;*/
  /*font-weight: normal;*/
  border-right: 0px;
  /* 오른쪽 수직선 제거, 여백 제거 */
  margin-right: 0px;
  padding-right: 0px;
}

/* 카테고리 텍스트에 괄호[] 추가 */
#bo_list .bo_cate_link:before {
  content: "[";
}
#bo_list .bo_cate_link:after {
  content: "]";
}



#bo_list table {
  width: 100%;
  /*border: 1px solid #000;*/
  float: left;
  border-bottom: 1px solid #000;
  clear: both;
  content: "";
  margin-bottom: 10px;
}



#bo_list .th_chk {
  text-align: left;
}




/*
#bo_list th:nth-child(2) {
  text-align: left;
}

#bo_list th:nth-child(3),
#bo_list th:nth-child(4),
#bo_list th:nth-child(5),
#bo_list th:nth-child(6) {
  display: none;
}*/

#bo_list table,
#bo_list thead,
#bo_list tbody,
#bo_list tr,
#bo_list th,
#bo_list td {
  display: block;
}




#bo_list .td_chk,
#bo_list .td_subject {
  /*display: block;*/
  float: left;
}
/*
#bo_list .td_subject a {
  width: 100%;
  display: block;
}
*/

#bo_list .td_name {
  clear: both;
  /*content: " ";
  display: block;  */
}





/* 닉네임, 날짜, 조회 왼쪽 플로트 */
#bo_list .td_name,
#bo_list .td_date,
#bo_list .td_num {
  float: left;
}

#bo_list .td_num:before {
  content: "조회 ";
}



#bo_list .td_num {
  width: auto;
  text-align: left;
  /*text-align: center;*/
}

#bo_list .td_chk {
  width: auto;
  text-align: left;
  /*text-align: center;*/
}

#bo_list .td_name {
  width: auto;
  text-align: left;
  /*text-align: left;*/
}

#bo_list .td_date {
  width: auto;
  text-align: left;
  /*text-align: center;*/
}

#bo_list .td_num {
  width: auto;
  text-align: left;
  /*text-align: center;*/
}



/*
#bo_list thead tr {
  background-color: red;
}
*/



#bo_list tbody tr {
  clear: both;
  content: "";
  border-top: 1px solid #000;
}



#bo_list .td_subject {
  /*font-size: 1.2rem;*/
}

#bo_list .td_name,
#bo_list .td_date {
  margin-right: 20px;
}


#bo_list td, #bo_list th {
  border-top: 0px;
  border-bottom: 0px;
  padding: 3px;
}

.bo_notice td {
  background-color: #fff;
}

/*
#bo_list tbody {
  background-color: #ccc;
}
*/




/* 모바일 끝 */
}


/* 게시판 페이징 높이 재설정(구글 개발자 도구 참고) */
.pg_wrap .pg_page,
.pg_wrap .pg_current {
  height: auto;
}

/* 게시판 검색창 */
#bo_sch .bo_sch_keyword {
  padding: 3px;
  border: 1px solid #000;
  width: 129px; /* 아이디, 비번 입력창 너비 재설정 */
  height: 34px;
  /*margin-bottom: 5px;*/
}

/* 참고: http://webdir.tistory.com/483 */
#bo_list .td_name {
  /*white-space: nowrap;*/
  /*overflow: hidden;*/
  /*text-overflow: ellipsis;*/
}

/* 게시판 페이징 */
.pg_wrap a:link, .pg_wrap a:visited {
  color: #000; /* 00f; */
  text-decoration: none;
}

.pg_wrap a:hover, .pg_wrap a:active {
  color: #f00;
  text-decoration: none;
}


/* 버튼에 호버시 색깔 */
#bo_list .btn_bo_user a.btn_b01:hover,
#bo_list .btn_bo_user a.btn_b02:hover {
  color: #f00;
}

#bo_list .btn_bo_user a.btn_admin:hover {
  color: #fff;
}



/* 리스트 게시판 제목 스타일 */
h2#container_title a:link, h2#container_title a:visited {
  color: #000; /* 00f; */
  text-decoration: none;
}

h2#container_title a:hover, h2#container_title a:active {
  color: #f00;
  text-decoration: none;
}



/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

/* 제목, 글쓴이 */
#bo_list .td_subject a:link, #bo_list .td_subject a:visited,
#bo_list .td_name a:link, #bo_list .td_name a:visited {
  color: #000; /* 00f; */
  text-decoration: none;
}

#bo_list .td_subject a:hover, #bo_list .td_subject a:active,
#bo_list .td_name a:hover, #bo_list .td_name a:active {
  color: #f00;
  text-decoration: none;
}


/* 스타일 끝 */
}







