@charset "UTF-8";

/* Red2.net v9 */

#no-fouc { opacity: 0; }


html {
  /*-webkit-tap-highlight-color: rgba(0, 0, 255, 0.3);*/
  /*overflow-x: hidden;*/
}

/*
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}
*/


/* 창 작을시 이미지, 유튜브 동영상 자동 크기조절 */
img,
iframe {
  max-width: 100%;
}

/* 전체 링크 */
/*
a:link, a:visited {
  color: #00f;
}

a:focus, a:hover {
  color: #f00;
  text-decoration: underline;
}*/


/*.navbar-logo {
  margin: 0px;
  padding: 0px;
}*/

/* 모바일 로고 */
.navbar-brand {
  /*padding-left: 5.5rem;
  background-image: url("../img/red2mamm.svg");
  padding: 0px;
  background-image: url("../img/red2logo02.svg");
  background-repeat: no-repeat;*/
  /*letter-spacing: -0.1rem;*/
  /*width: 350px;
  text-indent: -9999px;*/
  
  /*padding: 0px;*/
  
  font-size: 2.3rem;
  background-image: url("../img/red2mamm.svg");
  background-repeat: no-repeat;
  /*     margin-right: 0.5rem;     */
  
  /*width: 22rem;*/ /* 크기 조절되는 원인 */
  /*text-indent: -9999px;*/
  /* 레드넷 구 사이트 custom4.css .navbar-brand 참고. */
  /*border-right: 1px solid #fff;*/
  /*width: 241px;*/
  /*height: 65px;*/
  /*text-indent: -9999px;*/
  padding-left: 90px;
  background-position: 0px -7px; /* -7px */
  background-size: 80px 80px; /* http://aboooks.tistory.com/165 */ /* IE 버그 해결 */
  /* 백그라운드 사이즈 속성을 지정하지 않으면,
  익스플로러에서 항상 배경그림 위치가 글자 밑에 있다.
  SVG 라서 그런듯. */
  font-family: 'Open Sans', sans-serif;
  letter-spacing: -2px;
  margin-right: 0.8rem;
}





/* IE11 로고 배경 위치 수정 */
/* Only works in IE11 */
/* http://eond.com/css/365424 */
/*_:-ms-fullscreen, :root .navbar-brand {
  background-position: -78px 0px;
}*/

.navbar-brand span {
  font-weight: bold;
}

.navbar {
  padding: 0 1rem 0 0;
}

/* 네비게이션 링크색 */
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #f00;
}

/* 드롭다운 메뉴 링크색 */
.dropdown-item {
  color:#000;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #f00;
  /*text-decoration: underline;*/
}



.navbar-collapse {
  padding: 0.2rem 0rem 0.5rem 1rem;
}

/* 메뉴 화살표 수직 위치 조정 */
.dropdown-toggle::after {
  vertical-align: 0.1em;
}

/* 햄버거 메뉴 외곽선 색 */
.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 1.0);
  border-color: rgba(255, 255, 255, 1.0); /* 버튼 테두리 색 */
}

/* 3줄 메뉴 색 */
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* 검색창 */

/* https://www.w3schools.com/css/css3_buttons.asp */
/* https://color.adobe.com/ko/ */

/* 모바일에서 검색창 마진 추가 */
#cse-search-box {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}


#cse-keyword {
  width: 170px; /*180px;*/
  padding: 5px 10px;
  border: none;
  /*font-size: 1.2rem;*/
}

/* IE11 검색창 높이 조정 */
_:-ms-fullscreen, :root #cse-keyword {
  font-size: 1.3rem;
}

/*
#cse-keyword:hover {
  border: 1px solid #f00;
}
*/

#cse-search-button {
  padding: 5px 10px;
  border: none;
  background-color: #2567FC;
  color: #fff;
  cursor: pointer;
}

/* IE11 에서 검색버튼 위치 조정*/
_:-ms-fullscreen, :root #cse-search-button {
  /*position: relative;
  top: -4px;*/
}

#cse-search-button:hover {
  color: #f00;
}


/* 가로 스크롤 버그 해결 */
/* 이 코드가 있어야 컨텐츠에 패딩(여백)이 생긴다.
지우지 말 것 */
.row-remove {
  margin-left: 0;
  margin-right: 0;
}

.row-remove-bug {
  /*margin-left: 0;*/
  /*margin-right: 0;*/
}



.container {
  max-width: 100%;
}

/* 테스트용 */
/*
.div-border > div {
  border: 1px solid #f00;
}
.div-border * {
  border: 1px solid #000;
}*/

.div-border {
  margin-top: 1rem;
  padding-bottom: 1rem;
  /*padding-bottom: 1rem;*/
}

.div-border section,
.div-border aside {
  margin: 0; /* 중요 */
  padding: 0; /* 중요 */
  /*border: 1px solid #000;*/
}

.div-border section {
  padding-left: 1rem;
  padding-right: 1rem; /* 1rem; */
  padding-bottom: 1rem; /* 내용 아래 여백 (스마트폰) */
}

.div-border aside {
  padding-left: 0;
}


/* 로컬 네비게이션 */

.nav-local {
  background-color: #e6e6e6;
}

.nav-local h2 {
  margin: 0;
  font-weight: bolder; /* 제목을 더 굵게 */
  padding: 0.4rem; /*5px;*/
}

.nav-local ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-local li {
  border-bottom: 1px solid #fff;
}
.nav-local li:last-child {
  border-bottom: 0;
}


.nav-local a {
  color:#000;
  display: block;
  padding: 0.4rem; /*5px;*/
}

.nav-local a:focus, .nav-local a:hover {
  color: #f00;
  text-decoration: none;
}

/* 푸터밖에 있는 SNS 링크 */


.sns-link a:link, .sns-link a:visited {
  color: #00f;
}

.sns-link a:focus, .sns-link a:hover {
  color: #f00;
  text-decoration: underline;
}

.sns-link {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 1rem 0 0 0;
  padding: 0px;
  list-style: none;
  /*margin-top: 1rem;*/
}

.sns-link .sns_logo_twitter {
  background-image: url("../img/sns/sns_logo_twitter.png");
}
.sns-link .sns_logo_facebook {
  background-image: url("../img/sns/sns_logo_facebook.png");
}
.sns-link .sns_logo_blog {
  background-image: url("../img/sns/sns_logo_naver_blog.png");
}
.sns-link .sns_logo_youtube {
  background-image: url("../img/sns/sns_logo_youtube.png");
}
.sns-link .sns_logo_discord {
  background-image: url("../img/sns/sns_logo_discord.png");
}
.sns-link .sns_logo_moddb {
  background-image: url("../img/sns/sns_logo_moddb.png");
}


.sns-link li {
  background-repeat: no-repeat;
  text-indent: -9999px;
  margin-right: 0.5rem;
}
.sns-link li:last-child {
  margin-right: 0;
}
.sns-link li a {
  display: block;
  width: 30px;
  height: 30px;
}





/*.sns-link {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;*/
  /*font-size: 1.5rem;*/
  /*border: 1px solid #000;*/
  /*margin-bottom: 1.35rem;*/
  /*flex-wrap: wrap;*/ /* 밀리는 방식을 왼쪽으로. HTML+CSS 디자인 책 참고 */
/*}*/

/*.sns-link li {
  margin-right: 0.5rem;
}*/
/* 마지막 목록의 마진 제거 */
/*.sns-link li:last-child {
  margin-right: 0;
}*/

/*
.sns-link li::after { 
    content: " | ";
}
*/











/*구글 애드센스 광고 */

.banner-bottom {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center; /* 구글 광고 중앙정렬 */
  /* http://clubohje.tistory.com/entry/HTML-%EA%B0%80%EC%9A%B4%EB%8D%B0-%EC%A0%95%EB%A0%AC-%EC%86%8C%EC%8A%A4 */
  /*border: 1px solid #000;*/
}




/* 푸터 */
.footer {
  background-color: rgba(0, 0, 0, 0.05);
  margin: 0;
  padding: 0.5rem;
  color: #000;
}

.footer .footer-sns {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.5rem;
  /*border: 1px solid #000;*/
  /*margin-bottom: 1.35rem;*/
}

.footer .footer-sns li {
  margin-right: 0.5rem;
}
/* 마지막 목록의 마진 제거 */
.footer .footer-sns li:last-child {
  margin-right: 0;
}

/* SNS 설명 감추기 */
.sns-desc {
  display: none;
}


.footer .footer-link {
  display: flex;
  justify-content: center;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 1rem;
}

.footer .footer-link li {
  margin-right: 0.8rem;
}
/* 마지막 목록의 마진 제거 */
.footer .footer-link li:last-child {
  margin-right: 0;
}

.footer p {
  margin: 0;
  padding: 0;
  text-align: center;
}

/* 푸터 링크색 */
/* visited 를 지정해줘야 파란색이 안됨 */
.footer-sns a:link, .footer-sns a:visited,
.footer-link a:link, .footer-link a:visited {
  color: #000;
}

.footer-sns a:focus, .footer-sns a:hover,
.footer-link a:focus, .footer-link a:hover {
  color: #f00;
  text-decoration: none;
}



/* 개별 페이지 */

.ind-page a:link, .ind-page a:visited {
  color: #00f;
}

.ind-page a:focus, .ind-page a:hover {
  color: #f00;
  text-decoration: underline;
}

/*
.staff-list {
  width: 100%;
}

.staff-list-profile {
  width: 200px;
}*/



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {


/* 운영진 스타일 */
.container-staff {
  display: flex;
  /*border: 1px solid #000;*/
  width: 100%;
  margin: 1rem 0 1rem 0;
}

.container-staff .item {
  /*border: 1px solid #000;*/
}

.container-staff .image {
  margin-right: 10px;
  flex: 150px 0;
}

.container-staff .desc {
  flex: 1;
}

.container-staff .desc p:first-child {
  /*margin: 0;*/
}



/* 연혁 스타일 */
.container-history {
  display: block;
  /*border: 1px solid #000;*/
  width: 100%;
}

.container-history .history-row {
  display: flex;
  /*border: 1px solid #000;*/
  width: 100%;
}

.container-history .item {
  /*border: 1px solid #000;*/
  margin: 3px;
  padding: 9px;
  /*background-color: #ecf0f1;*/
}

.container-history .date {
  /*margin-right: 10px;*/
  flex: 150px 0;
  /*font-weight: bold;*/
}

.container-history .desc {
  flex: 1;
}

.container-history .desc p:first-child {
  margin: 0;
}

.container-history h2 {
  margin-top: 0px;
}

.container-history .desc p:last-child {
  margin-bottom: 0;
}






/* SNS 설명 보여주기 */
.sns-desc {
  display: inline;
}

.footer .footer-sns {
  font-size: 1rem;
}

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

.navbar-brand {
  /*width: 160px;*/ /* 크기 조절되는 원인 */
}

/* 태블릿 이후로 사이드바와 컨텐츠 위치 변경 */
/* 부트스트랩4 자체 코드로는 불가능 */

/* 컨텐츠 */
.div-border section {
  order: 2;
}

/* 사이드바 */
.div-border aside {
  order: 1;
}




#cse-search-box {
  margin-top: 0;
  margin-bottom: 0;
}

#cse-search-button {
  display: none;
}

/* 메뉴에 마우스를 올리면 하위 메뉴 나타남 */
/* http://blog.naver.com/scabbard2/220224438042 */
.nav-item:hover > .dropdown-menu {
  display: block;
  margin: 0;
}

.nav-link {
  /*background-color: rgba(0, 0, 0, 0.2); */
  line-height: 1.9rem; /* 마우스 영역 조절하는게 맞는데 잘 안된다.. */
  /*border-left: 1px solid #000;*/
  font-weight: bold;
  font-size: 1rem;
  /*padding: .5rem 3rem; */ /* 모바일 메뉴 높이 버그 */
}
/*
.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}*/

/* 네비게이션 링크색 */
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #f00;
}

/* 드롭다운 메뉴 */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid #ff6100;
  border-radius: 0.25rem;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #f00;
  text-decoration: underline;
  background-color: #f8f9fa;
}

/* 사이드바 패딩(왼쪽) */
.div-border aside {
  padding-left: 0rem; /* 1rem; */
}

/*.navbar-brand {
  width: 200px;
}*/

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

/* 데스크탑 로고 */
.navbar-brand {
  /*padding-left: 7.5rem;*/
  font-size: 3.4rem; /*2.5rem;*/
  /*width: 500px;*/ /* 크기 조절되는 원인 */
  padding-left: 125px;
  background-position: 0px -10px; /* -7px */
  background-size: 115px 115px; /* http://aboooks.tistory.com/165 */ /* IE 버그 해결 */
  margin-right: 1.3rem;
}

.navbar-collapse {
  padding: 0;
}

.nav-link {
  /*background-color: rgba(0, 0, 0, 0.2); */
  line-height: 4.4rem;
  /*border-left: 1px solid #000;*/
  font-weight: bold;
  font-size: 1.2rem;
}
/*
.nav-link:last-child {
  border-right: 1px solid #000;
}
*/
.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* 위키 크기 조정 */
.navbar-nav li:nth-child(2) .nav-link {
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}

/* 메뉴 화살표 수직 위치 조정 */
.dropdown-toggle::after {
  vertical-align: 0.1em;
}

/* 네비게이션 링크색 */
/*.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #f00;
}*/

/* 드롭다운 메뉴 */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid #ff6100;
  border-radius: 0.25rem;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #f00;
  text-decoration: underline;
  background-color: #f8f9fa;
}

/* 메뉴에 마우스를 올리면 하위 메뉴 나타남 */
/* http://blog.naver.com/scabbard2/220224438042 */
/*.nav-item:hover > .dropdown-menu {
  display: block;
  margin: 0;
}*/

/* IE11 에서 배경 위치 */
/*_:-ms-fullscreen, :root .navbar-brand {
    background-position: -108px 0px;
}*/


#cse-search-button {
  display: inline;
}

/* 참고 사이트: https://www.w3schools.com/css/css3_2dtransforms.asp */
/* 익스플로러에서 검색 버튼 수직위치 조정 */
_:-ms-fullscreen, :root #cse-search-button {
  /*display: inline;
  transform: translate(0px, 4px);*/
}

/*
.banner-bottom {
  display: none;
}
*/

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

.container {
  max-width: 1280px;
}



}





